
.big-screen-text{
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;top:0;
    z-index: 10000;
    background-color: #ffe94a;
    font-weight: 600;
    font-size: 30px;
    display: none;
    justify-content: center;
    align-items: center;
    color:#fff;
}
@media screen and (min-width:530px) {
    .big-screen-text{display: flex;}
}