.header{
    background-color: #523737;
    color:#fff;
    padding: 5px 10px 15px;
    position: fixed;top:0;z-index: 1000;
    width: 100%;
}

.header-top,.header-bottom{
    display: flex;
    justify-content: space-between;

}

.header .header-column{width: 33%;}
.header .header-column:nth-child(2){text-align: center;}
.header .header-column:last-child{text-align: right;}

.header .header-top{font-size: 12px;margin-bottom: 15px;}
.header .header-bottom{margin: 0 10px;}
.header .header-bottom .header-column:first-child{
    color:rgba(255,255,255,0.5);cursor: pointer;
}
.header .header-number{color:#ffe94a}