.more{
    background-color: #f2f2f2;
}
.more .more-header{
   background-color: #fff; 
   padding: 15px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 10px;
}
.more-header-column{
    display: flex;
    align-items: center;
}
.more-header-info .more-header-title{font-weight: 600;margin-bottom: 5px;}
.more-header-info .more-header-subtitle{font-size: 12px;color:#b4b4b4}
.more-header-column img{
    width: 50px;border-radius: 50%;margin-right: 20px;
}

.more .more-options,.more .more-plus-friends{
    background-color: #fff;
    margin-bottom: 10px;
}
.more .more-options{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.more .more-option-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 15px 15px;
    color: #523737;
}
.more .more-option-list .more-option-title{
    margin-top: 10px;font-size: 12px;
}


.more .more-plus-friends{padding: 20px;}
.more .more-pf-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.more .more-pf-header .more-pf-title{font-size: 16px;}
.more .more-pf-header .more-pf-learnmore{color:#b4b4b4}
.more .more-pf-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.more .more-pf-items .more-pf-item{width: 50%; margin-bottom: 30px;}
.more .more-pf-items .more-pf-item i{margin-right: 20px;}
.more .more-pf-items .more-pf-item--title{font-size: 13px;}
.more .more-links{
    display: flex;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
}
.more .more-link-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}
.more .more-link-img{width: 50px;margin-bottom: 10px;}
.more .more-link-title{font-size: 12px;}