.header.header-transparent{
    background-color: transparent;
}

.profile .profile-header {
    height:65vh;
    background: url(../images/bg_default.png) no-repeat center / cover;
    width: 100%;
    position: relative;
    top:-60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.profile-header-container img{
    width: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profile-header-container{
    text-align: center;
    position: relative;
    bottom:-60px;
}

.profile .profile-container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-container input{
    padding: 5px;
    margin-bottom: 20px;
    text-align: center;
}
/* .profile-container input::placeholder{
    text-align: center;
} */
.profile-actions{
    display: flex;
}
.profile-action{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin:0 7px;
}
.profile-action-circle{
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 50%;
    color: #523737;
    margin-bottom: 15px;
}
.profile-action-title{
    font-size: 12px;
    font-weight: 600;
}